@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
}

main {
  flex-grow: 1;
}

.navbar-custom {
  background-color: #011C40;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: white !important;
}

.navbar-custom .nav-link.active {
  color: #959ba3 !important; 
}

.navbar-custom .nav-link:hover {
  color: #0476D9 !important; 
}

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container { 
  width: 50%;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  margin-top: -100px;
}

h1 {
  font-family: 'dancing script';
  text-align: center;
  font-size: 60px;
  color: #011C40;
}

input {
  width: 50%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 2px solid #011C40;
  border-radius: 5px;
  outline: none;
}

button {
  background-color: #041b44;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 50%;
  padding: 10px 90px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.footer-custom {
  background-color: #011C40;
}

.footer-custom a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-custom a:hover {
  color: #A6CCFF;
}

img {
  width: 90px;
  height: 70px;
}

.logo-rodape {
  width: 60px;
  height: 60px;
}

.card {
  border-radius: 1rem;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card-title {
  font-weight: bold;
  color: #011C40;
}

.card-text strong {
  color: #333;
}

.btn-azul-claro {
  background-color: #0487D9;
  color: white;
  border: none;
}

.btn-azul-claro:hover {
    background-color: #069fff;
}

.btn-azul-medio {
  background-color: #0487D9;
  color: white;
  border: none;
}

.btn-azul-medio:hover {
  background-color: #069fff;
  
}

.btn-azul-escuro {
  background-color: #033E8C;
  color: white;
}

.btn-azul-escuro:hover {
    background-color: #0964db;
}

.texto_mes {
  font-family: 'Dancing Script', sans-serif;
  font-weight: bold;
  font-size: 38px;
}
